<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://duckworth.googlecode.com/svn/trunk/hudson-dummy-maven2</remote>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <rootModule>
    <groupId>hudson.plugins.duckworth</groupId>
    <artifactId>hudson-dummy-maven2</artifactId>
  </rootModule>
  <goals>clean package</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <reporters/>
  <publishers>
    <hudson.plugins.sitemonitor.SiteMonitorRecorder>
      <mSites>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>ftp://blah</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>httpx://blah</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>://blah</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl></mUrl>
        </hudson.plugins.sitemonitor.model.Site>
      </mSites>
    </hudson.plugins.sitemonitor.SiteMonitorRecorder>
  </publishers>
  <buildWrappers/>
</maven2-moduleset>