<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.sitemonitor.SiteMonitorRecorder>
      <mSites>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://hudson-ci.org/</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://wiki.hudson-ci.org/display/HUDSON/Mailing+List</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://issues.hudson-ci.org/</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://blog.hudson-ci.org/</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://wiki.hudson-ci.org/display/HUDSON/Home</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://wiki.hudson-ci.org/display/HUDSON/IRC+Channel</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://twitter.com/hudsonci</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://wiki.hudson-ci.org/display/HUDSON/Source+code</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://hudson-ci.org/latest/hudson.war</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://google.com</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
      </mSites>
    </hudson.plugins.sitemonitor.SiteMonitorRecorder>
  </publishers>
  <buildWrappers/>
</project>